<div class="support-ticket-form" [formGroup]="ticketForm">
  <h4>Submit support ticket</h4>

  <mpbs-dropdown-single
      [formGroup]="ticketForm"
      formKey="type"
      [options]="getOptions()"
  ></mpbs-dropdown-single>

  <mpbs-textarea
      [formGroup]="ticketForm"
      formKey="body"
  ></mpbs-textarea>

  <div class="support-ticket-actions">
    <mpbs-secondary-button class="cursor-pointer" (click)="clear()">Clear</mpbs-secondary-button>
    <mpbs-primary-button class="cursor-pointer" (click)="submit()">Submit</mpbs-primary-button>
  </div>
</div>
