<div class="support-ticket-form" [formGroup]="ticketForm">
  <h4>Submit support ticket</h4>

  <mpbs-dropdown-single
      [formGroup]="ticketForm"
      formKey="type"
      [options]="getOptions()"
  ></mpbs-dropdown-single>

  <textarea
      class="form-control"
      formControlName="body"
  ></textarea>

  <div class="support-ticket-actions">
    <mpbs-button class="cursor-pointer" (click)="clear()">Clear</mpbs-button>
    <mpbs-button class="cursor-pointer" (click)="submit()">Submit</mpbs-button>
  </div>
</div>
