<div class="m-2">

  <div class="d-flex p-3" style="gap:2rem;">
    <a
      [href]="'https://app.clickup.com/api?client_id=WQG5JGVOE0G0C3U4A3JNAOJWZKIHJCAS&redirect_uri=http://localhost:4200/support?open-support-ticket-modal=true'">REDIRECT
      TO CLICKUP</a>
    <button (click)="retrieveAuth()">GET ACCESS TOKEN</button>
    <button (click)="postNewTask()">TEST</button>
  </div>

  <div>
    AUTH ACCEPT CODE: {{authorizationAcceptCode|json}}
  </div>
  <div>
    AUTH: {{authorizationToken|json}}
  </div>
  <div>
    RESULT: {{postNewTask|json}}
  </div>
</div>
