@import "assets/css/fade";
@import "assets/css/effects";
@import "assets/css/variables";

* {
  font-family: "Courier New", serif;
}

.mpbs-container {
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .mpbs-body {
    flex: 1;
    margin: 5rem;
  }
}

@media all and (max-width: $width-break-point) {
  :root {
    font-size: 13px;
  }

  .mpbs-container {
    .mpbs-body {
      margin: 1rem;
    }
  }
}