@import "src/assets/css/variables";

footer{
  border-top: solid 0.3rem $header-bg-color;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

a {
  color: $text-secondary;
}