.alerts-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 100%;
  max-width: 20rem;

  max-height: 90vh;
  overflow-y: scroll;
}

.alert-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.alert-text-content {
  width: 100%;
  word-break: break-word;
}

@media all and (max-width: 500px) {
  .alerts-container{
    max-width: 15rem;
  }
}