.alerts-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 20rem;
}

.alert-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.alert-text-content {
  width: 100%;
  word-break: break-word;
}

