<div class="alerts-container">
  <div *ngFor="let alert of alertBroker.getAllAlerts()"
       class="alert"
       [ngClass]="getClasses(alert)"
  >
    <div class="alert-container">
      <fa-icon [icon]="resolveIcon(alert.type)"></fa-icon>
      <div class="alert-text-content" [innerHTML]="alert.content"></div>
      <em class="fa-solid fa-user"></em>
      <mpbs-close-button *ngIf="alert.dismissible" (click)="alertBroker.dismiss(alert)"></mpbs-close-button>
    </div>
  </div>
  <div *ngIf="alertBroker.getAllAlerts().length > 1" class="d-flex justify-content-end">
    <mpbs-badge-button (click)="alertBroker.dismissAll()">Dismiss All</mpbs-badge-button>
  </div>
</div>
