.mpbs-header {
  display: flex;
  justify-content: center;
  background-color: var(--header-bg-color);
  padding: 1rem;
}

.header-nav-links-container{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  a {
    color: var(--text-primary);
    background-color: #606064;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    text-decoration: unset;
  }

  .active-route {
    text-decoration: underline;
  }
}
