@import "src/assets/css/variables";

.mpbs-header {
  display: flex;
  justify-content: center;
  background-color: $header-bg-color;
  padding: 1rem;
}

.header-nav-links-container{
  display: flex;
  flex-wrap: wrap;

  a {
    font-size: 1.2rem;
    color: $text-primary;
    border-radius: 0.4rem;
    text-decoration: unset;
    margin: 0 2.5rem;
  }

  .active-route {
    text-decoration: underline;
  }
}
